.dl-wrapper
	padding: 2em
	background: lb-off-white-dkr
	border: 1px solid lb-light-grey
	width: auto
	display: inline-block
	.dl
		margin-bottom: 0.5em
	.meta
		font-size: 0.85em
		margin-bottom: 1em