lgm-purple =         #652b7c
lgm-purple-dkr =     #421540
lgm-purple-ltr =     #bf97c6
lgm-purple-ltr-ltr = #d3b0d3

lb-slate =           #1c3b47
lb-slate-dkr =       #152c35
lb-slate-ltr =       #49626c

lb-light-grey =      #c5d0d4
lb-light-grey-dkr =  #9eb1b7
lb-light-grey-ltr =  #f3f6f6

lb-grey =            #454e57
lb-grey-dkr =        #31373B

lb-off-white =       #f5f6f7
lb-off-white-dkr =   #ebeef0


anime = all 300ms ease-in-out
anime-opacity = opacity 300ms ease-in-out
shadow = 0 0 10px rgba(0,0,0,0.1)
shadow-dkr = 0 0 10px rgba(0,0,0,0.5)
panel-shadow = 0px 2px 2px 0px rgba(0,0,0,0.3)

linkcolor =         lgm-purple
breadBorder =       lgm-purple-ltr
br =                3px
tgbr =              10px
lightbend-fonts =   "Source Sans Pro", "Helvetica Neue", Arial, sans-serif

header-height =     52px