aside
  background: lb-off-white-dkr
  border: 1px solid lb-light-grey
  border-top: 6px solid lgm-purple
  border-radius: 0px
  nav
    margin-top: 1rem
  h3
    font-size: 1em
    text-transform: uppercase