body
	background lgm-purple
	color lb-slate
	font-family lightbend-fonts
	font-smoothing antialiased
	-webkit-font-size-adjust none
	text-rendering optimizeLegibility
.off-canvas-content
	background lgm-purple
	@media screen and (min-width: 40em)
		background: lgm-purple url("images/ui/lagom-hero.png") no-repeat
		background-position: center top
		background-attachment: fixed

.fw-wrapper
	padding: 60px 0px
	background: transparent
	&.flush
		padding: 0
	&.flush-top
		padding: 0 0 60px 0
	&.flush-bottom
		padding: 60px 0 0 0
	&.white
		background: white
	&.lb-off-white
		background: lb-off-white
	&.lb-off-white-dkr
		background: lb-off-white-dkr
	&.lb-light-grey-ltr
		background: lb-light-grey-ltr
	&.lb-grey
		background: lb-grey
		h1,h2,h3,h4,h5,h6,p
			color: white
	&.lb-grey-dkr
		background: lb-grey-dkr
		h1,h2,h3,h4,h5,h6,p
			color: white
	&.lgm-purple
		background: lgm-purple
		h1,h2,h3,h4,h5,h6,p
			color: white
	&.lgm-purple-dkr
		background: lgm-purple-dkr
		h1,h2,h3,h4,h5,h6,p
			color: white
	&.lb-slate
		background: lb-slate
		h1,h2,h3,h4,h5,h6,p
			color: white
	&.lb-slate-dkr
		background: lb-slate-dkr
		h1,h2,h3,h4,h5,h6,p
			color: white
	&.lb-slate-ltr
		background: lb-slate-ltr
		h1,h2,h3,h4,h5,h6,p
			color: white
	&.hero-banner
		background: transparent
		br
			display: none
		@media screen and (min-width: 40em)
			br
				display: block
		h1
			color: white
			font-size: 2.5em
			line-height: 1.125em
			margin-bottom: 1.5em
			font-weight: 400
		.logo
			width: 300px
			display: block
			margin-bottom: 15px
	&.home-content
		border-top: 2px solid white
		background: lb-light-grey-ltr url("images/ui/lagom-hexagon-repeat-fade.png") repeat-x center top

.navbar
	background-color white
	border-top solid 5px lgm-purple
	height 80px
	.menu-icon
		width: 40px
		margin-right: 10px
		height: 30px
		vertical-align: top
		margin-top: 22px
		&:after
			background: lgm-purple
			box-shadow: 0 14px 0 lgm-purple,0 28px 0 lgm-purple

	.logo
		float: right
		@media screen and (min-width: 40em)
			float: none
		display: inline-block
		margin-top: 15px
		.svg-logo
			height: 44px

	.sections
		float right
		border-right solid 1px lb-light-grey
		a
			display block
			float left
			border-left solid 1px lb-light-grey
			color lgm-purple-dkr
			height 75px
			line-height 45px
			padding 15px
			font-size 14px
			font-weight 700
			text-transform uppercase

.get-started
	padding-top: 60px
	& + .row
		margin-top: 20px
		@media screen and (min-width: 40em)
			margin-top: 30px
		@media screen and (min-width: 64em)
			margin-top: 40px

.title
	.large-lagom-logo
		float left
		width 300px
		height 150px
		padding-right 20px
	font-size 40px
	font-weigt 700
	color white

.lagom-intro
	clear both
	margin-left auto
	margin-right auto
	width 640px

.page-header
	height 100px
	color white

	h1
		color: white

.page
	width 100%
	background-color white

.flex-video
	box-shadow: shadow
	iframe
		border: 4px solid white

footer
	ul
		margin-left: 0
		list-style: none
	a:link, a:visited
		color: lb-light-grey-dkr
		font-weight: 700
	a:hover
		color: lgm-purple-ltr
		text-decoration: none
	.support
		h3
			font-size: 1.125em
			font-weight: 700
			text-transform: uppercase
			margin: 8px 0 0 0
		.svg-icon-chat, .svg-icon-lb-icon-reverse
			width: 60px
			height: 60px
			float: left
			margin-right: 1em
		ul li
			display: inline
			margin-right: 10px
	.links
		h3
			font-size: 1.25em
			font-weight: 700
			border-bottom: 1px solid rgba(white,.3)
			display: block
			padding: 0px 10px 10px 0px
	.credits
		padding: 40px 0
		p
			margin: 0
		.logo img
			height: 30px
			margin-right: 40px
		.partner img
			height: 30px