.btn, a.btn
	background: lgm-purple
	color: white
	padding: .75em 1.5em
	font-size: 1.125em
	display: inline-block
	border-radius: 3px
	border-bottom: 2px solid lgm-purple-dkr
	&.glass
		background: transparent
		border: 2px solid lgm-purple
		color: lgm-purple
	&.small
		padding: .125em .25em
		font-size: 1em
	.svg-icon
		height: 1.125em
		margin-left: .5em