h1
    font-size: 2.125rem
    font-weight: 700
p + h1
    margin-top: 1rem
h2
    font-size: 1.625rem
    font-weight: 700
p + h2
    margin-top: 2rem
h3
    font-size: 1.188rem
    font-weight: 700
p + h3
    margin-top: 1.5rem
a:link, a:visited
    color: lgm-purple
    font-weight: 700
a:hover
    color: lgm-purple-ltr
    text-decoration: none
dl, ol, ul
    margin-bottom: 2rem

@media screen and (min-width: 40em)
    p
        font-size: 1.125em